{# 博客细节 #}
{% extends 'base.html' %}
{% load staticfiles %}
<title>{% block title_extends %}{{ blog_detail.name }}{% endblock %}</title>
{% block head_extends %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/info.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/jquery.easyfader.min.js' %}"></script>
    <script src="{% static 'js/hc-sticky.js' %}"></script>
    <script src="{% static 'js/comm.js' %}"></script>
    <script src="{% static 'js/scrollReveal.js' %}"></script>
    
    <!--emojione v2.1.1 使用bootstrap的cdn-->
    <script type="text/javascript" src="http://cdn.bootcss.com/emojione/2.1.1/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/emojione/2.1.1/assets/sprites/emojione.sprites.css">
    <!--emojionearea-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/emojionearea-2.1.3.min.css' %}">
    <script type="text/javascript" src="{% static 'js/emojionearea-2.1.3.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="js/modernizr.js"></script>
    
        <![endif]-->

{% endblock %}

{% block context %}
    {#    回复评论弹框        #}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="position: relative;top: 4em;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">回复框</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                            {# 第三方 #}
                                {# 上一级评论的主键 #}
                                <input type="hidden" id="reply_comment_id" name="reply_comment_id">
                                {# 上一级评论的主键end #}
                                {# 顶级评论pk #}
                                <input type="hidden" id="root_comment_id" name="root_comment_id">
                                {# 顶级评论end #}
                                {# 上一级评论的user的主键 #}
                                <input type="hidden" id="reply_user_id" name="reply_user_id">
                                {# 上一级评论的主键end #}
                            {# 第三方end #}
                        <label for="message-text" class="control-label">内容:</label>
                        <textarea class="form-control" id="comment_text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary reply-submit">提交</a>
                  </div>
                </div>
              </div>
            </div>
    {#    回复评论弹框end        #}

    <article style="margin-top: 5em">
  <main>
  <div class="infosbox">
    <div class="newsview">
        <h3 class="news_title" style="margin-top: 2em;">{{ blog_detail.name }}</h3>
        <div class="bloginfo">
            <ul>
              <li class="author">作者：<a href="/">{{ blog_detail.author }}</a></li>
              <li class="lmname">分类：<a href="/">{{ blog_detail.blog_type }}</a></li>
              <li class="timer">时间：{{ blog_detail.add_time|date:"Y年m月d日" }}</li>
              <li class="view">阅读({{ blog_detail.click_nums }})</li>
            {# 收藏、点赞 #}
              <div class="fav" onclick="add_fav(this, {{ blog_detail.pk }})">
                <span class="glyphicon glyphicon-star {{ active_fav }}"></span>
                <span id="fav_num">{{ fav_num }}</span>
                <span>收藏</span>
              </div>

              <div class="like" onclick="add_like(this, {{ blog_detail.pk }})">
                <span class="glyphicon glyphicon-thumbs-up {{ active_like }}"></span>
                <span id="like_num">{{ like_num }}</span>
                <span>喜欢</span>
              </div>
            {# 收藏、点赞end #}
            </ul>
        <a class="glyphicon glyphicon-comment" href="#comment-top">&nbsp;{{ current_comment_count }}条评论</a>
          </div>
      <div class="news_about"><strong>简介</strong>{{ blog_detail.describe }}</div>
{#      <div class="news_con"><strong></strong><br>#}
        {% autoescape off %}
            {{ blog_detail.detail|safe }}<br>
        {% endautoescape %}
        <br>
        <img alt="" src="{{ MEDIA_URL }}{{ blog_detail.image }}"><br>

        &nbsp; </div>
    </div>
    <div class="share">
{#      <div class="diggit"><a href="JavaScript:makeRequest('/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=2&id=20&down=5"></script>13</b>)</div>#}
    </div>
    <div class="nextinfo">
        {% if previous_blog %}
            <p>上一篇：<a href="{% url 'article:article-detail' previous_blog.pk %}">{{ previous_blog.name }}</a></p>
        {% else %}
            <p><a href="{% url 'article:article-list' %}">返回列表</a></p>
        {% endif %}
      {% if next_blog %}
            <p>下一篇：<a href="{% url 'article:article-detail' next_blog.pk %}">{{ next_blog.name }}</a></p>
        {% else %}
            <p><a href="{% url 'article:article-list' %}">返回列表</a></p>
        {% endif %}
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul>
        <div class="gbko"  id="comment-top">
            {# 评论框 #}
             {% if request.user.is_authenticated %}
              {# 内容 #}
                 <form method="POST" id="comment_form">
                      {# 富文本 #}
                       <textarea name="comments" id="id_comment" class="form-control" cols="30" rows="4"></textarea>
                     <input type="hidden" name="blog_id" value="{{ blog_detail.id }}">
                       {# 错误提示 #}
                       <span id="comment_error" class="text-danger pull-left"></span>
                        {# 获取类型、ID#}
                      <div class="modal-footer">
                        <button id="js-pl-submit" type="button" class="btn btn-primary">提交评论</button>
                      </div>
                 </form>
              {# 内容end #}
            <script type="text/javascript">

            </script>
    {% else %}
        <p style="font-weight: bold;">
            您尚未登录，不可评论哦！
            <a href="{% url 'login' %}?from={{ request.get_full_path }}"><span class="btn btn-info">登录</span></a>
            <span>or</span>
            <a href="{% url 'signup' %}?from={{ request.get_full_path }}"><span class="btn btn-danger">注册</span></a>
        </p>
    {% endif %}
  </div>
      {# 评论框end #}
          {# 评论列表 #}
   <div class="comment_content">
      {% for comment in all_comment %}
          <div class="blogs " data-scroll-reveal="enter bottom over 1s" >
          <div class="media">
              <a href="{% url 'profile' %}?from={{ request.get_full_path }}"><span target="_blank"><img style="display: inline;" src='{{ MEDIA_URL }}{{ comment.user.image }}' width='40' height='40' /></span></a>
              <span class="author"><a href="/">&nbsp;{{ comment.user }}</a></span>
          </div>
        {# 顶级回复框 #}
          {% if request.user.is_authenticated %}
            <a style="position: relative;left: 15em;" id="reply_id" class="btn1"  data-toggle="modal"  data-target="#exampleModal"  onclick="reply({{ comment.pk }},{{ comment.user.id }},{{ comment.pk }});">回复</a>
          {% endif %}

{#           <a style="position: relative;left: 15em;" class="btn btn-primary " data-toggle="collapse" href="#collapseExample_{{ comment.pk }}" aria-expanded="false" aria-controls="collapseExample" onclick="reply({{ comment.pk }},{{ comment.user.id }},{{ comment.pk }});">#}
{#              回复顶级评论#}
{#           </a>#}
{#          <div class="collapse" id="collapseExample_{{ comment.pk }}">#}
{#              <div class="well">#}
{#                    <input class="comment" name="reply_text">{# 顶级回复内容 #}
{#              <a class="btn btn-primary reply-submit">提交</a>#}
{#              </div>#}
{#          </div>#}
        {# 顶级回复框end #}
       <div class="reply_content">
           <p class="blogtext" style="margin-left: 2em;">{{ comment.comment }}</p></div>
          <div class="bloginfo" style="border-bottom: 1px solid #ccc;">
                <ul>
                  <li class="timer">{{ comment.add_time }}</li>
                   {# 评论排行 #}
                  <li class="glyphicon glyphicon-fire">{{ forloop.counter }}</li>

                        {% ifequal request.user comment.user %}
                            <li class="glyphicon glyphicon-trash">&nbsp;<span onclick="comment_del({{ comment.id }})" id="del" style="">删除</span></li>
                        {% endifequal %}

               </ul>
                <span class="emojione"></span>
              <div class="clear"></div>
           </div>


           <div style="margin-left: 2em;margin-top: 1em;">
              {% for reply in comment.root_comment.all %}
                 <div class="media">
                      <span target="_blank"><img style="display: inline;" src='{{ MEDIA_URL }}{{ reply.user.image }}' width='40' height='40' /></span>
                      <span class="author"><a href="/">{{ reply.user.username }}&nbsp;回复&nbsp;{{ reply.reply_to.username }}：</a></span>
                 </div>

                  <span class="blogtext" style="margin-left: 2em;white-space:normal;">{{ reply.comment }}</span>

                  <li class="timer" style="font-size: 12px;color: #748594;line-height: 1.5;margin-top: 1em;">{{ reply.add_time }}</li>
                  {# 上一级评论回复，点击了onclick才获取值 #}
                  {% if request.user.is_authenticated %}
                    <a style="position: relative;left: 14em;bottom: 2em;" id="reply_id" class="btn1"  data-toggle="modal"  data-target="#exampleModal"  onclick="reply({{ reply.pk }},{{ reply.user.pk }},{{ comment.pk }})">回复</a>
                  {% endif %}
                  {#                    <a style="position: relative;left: 14em;bottom: 2em;" class="btn btn-primary" role="button" data-target="#exampleModal" data-toggle="collapse" href="#collapseExample_{{ reply.pk }}" aria-expanded="false" aria-controls="collapseExample" onclick="reply({{ reply.pk }},{{ reply.user.pk }},{{ comment.pk }})">#}
{#                      回复#}
{#                    </a>#}
                  {# 上一级评论回复end #}
                  {# 上一级评论回复输入框 #}
{#                        <div class="collapse" id="collapseExample_{{ reply.pk }}">#}
{#                              <div class="well">#}
{#                                <input class="ptn" name="reply_text">#}
{#                                                value="回复{{ replays.user.username }}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '回复{{ replays.user.username }}';}"#}
{#                        </input>#}
{#                                <a class="btn btn-primary reply-submit">提交</a>{# .reply-submit：让顶级回复和回复回复的按钮都可以点，如果是 .reply-submit则只能点击一个 #}
{#                              </div>#}
{#                        </div>#}
                {# 上一级评论回复输入框end #}
               {% endfor %}
            </div>
       </div>

    {% endfor %}
    </div>
   {# 评论列表end #}
  </div>
  </main>
  <aside class="r_box" >
      <div class="wdxc">
        <h2>图文精选</h2>
        <ul>
        </ul>
      </div>
       <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for blog_type in all_blog_type %}
                    <li><a href="{% url 'article:article-list' %}">{{ blog_type.name }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="cloud">
        <h2>相关博客</h2>
        <ul>
            {% for tag in blog_tags %}
            <a href="{% url 'article:article-detail' tag.id %}">{{ tag.name }}</a>
            {% empty %}
                <p>暂无相关博客</p>
            {% endfor %}
        </ul>
      </div>

      <div class="guanzhu">
        <h2>个人微信</h2>
        <ul>
          <img src="{% static 'images/weipayimg.jpg' %}">
        </ul>
      </div>

  </aside>
</article>
    <footer>
      <p>Design by田敏伦个人博客</p>
    </footer>
    <a href="#" class="cd-top">Top</a>
{% endblock %}


{% block custom_js %}
    <script type="text/javascript">
    //评论功能
    $("#id_comment").emojioneArea();//显示表情框

    $('#js-pl-submit').on('click', function(){
        //获取输入的值，如果为空：评论不能为空；否则提交ajax
        var comments = $("#id_comment").val();

        if(comments.length == 0){
            alert("评论不能为空");
            return
        }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'article:add_comment' %}",
            //把数据传给后端（"comments"：内容,course_id：课程的id，为了得到哪个app(对象)评论）
            data:$('#comment_form').serialize(),
            //异步成功
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");//csrf_token：不用form表单
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="{% url 'login' %}";
                    }else{
                        alert(data.msg) //输出其他错误
                    }

                }else if(data['status'] == 'success'){
                    window.location.reload();//成功，刷新当前页面.自动去掉刚刚评论的内容
                }
            },
        });
    });

    //对表情进行转义
    $(".comment_content  p").each(function(){
                    var value = $(this).text();
                    var code = $('<div/>').text(value).html();  //html转义
                    $(this).html(emojione.toImage(code));
            });


    //点击回复按钮，reply_comment()
    $(function () {
        $('.reply-submit').click(function () {
           reply_comment();
        });
    });

    //回复功能
    function reply_comment() {
        var root_comment_id = $("#root_comment_id").val();//顶级评论id
        var reply_comment_id = $("#reply_comment_id").val();//上一级评论id
        var reply_user_id = $("#reply_user_id").val();//上一级评论的user的id
        var comment_text = $('#comment_text').val();//回复顶级评论的内容
        {#var ptn = $('.ptn').val();//回复 回复评论的内容#}
        $.ajax({
            cache: false,
            type: 'POST',
            url: '{% url 'article:reply_comment' %}',
            data: {
                'root_comment_id': root_comment_id,
                'reply_comment_id': reply_comment_id,
                'reply_user_id': reply_user_id,
                'comment_text': comment_text,
                'blog_pk' : {{ blog_detail.pk }}
            },
            ansyc:true,
               beforeSend:function (xhr,settings) {
                   xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
            //异步成功
            success: function (data) {
                if (data.status == 'fail') {
                    alert(data.msg); //输入错误
                }
                else if (data.status == 'success'){
                    window.location.reload(); //刷新页面
                }
            }
        })
    }

    //设置值
    function reply(reply_comment_id,reply_user_id,root_comment_id) {
        $('#reply_comment_id').val(reply_comment_id);
        $('#reply_user_id').val(reply_user_id);
        $('#root_comment_id').val(root_comment_id);
    }


    //课程收藏
    $('.glyphicon-star').on('click', function(){
        add_fav($(this), {{ blog_detail.pk }});
    });

    //收藏ajax
    function add_fav(obj, fav_id){
        var is_fav = obj.getElementsByClassName('true_fav').length == 0;
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'article:add_fav' %}",
            data:{'fav_id':fav_id,'is_fav':is_fav},//数据传给后端
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data['msg'] == '用户未登录'){
                        alert('您没有登陆，正在进行登陆...');
                        window.location.href="{% url 'login' %}";
                    }else{
                        alert(data.msg);
                    }
                }else if(data.status == 'success'){
                    console.log(data);
                    //设置点赞效果
                    var element = $(document.getElementsByClassName('glyphicon-star'));
                    if (is_fav){
                        //要点赞
                        element.removeClass('');
                        element.addClass('true_fav');
                    }else{
                        //取消点赞
                        element.removeClass('true_fav');
                        element.addClass('');
                    }
                    //更新收藏数
                    var fav_num = $(document.getElementById('fav_num'));
                    fav_num.text(data['condition_nums']);
                }
            },
        });
    }

    //点赞
    function add_like(obj, like_id){
        var is_like = obj.getElementsByClassName('true_like').length == 0;
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'article:add_like' %}",
            data:{'like_id':like_id,'is_like':is_like},//数据传给后端
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data['msg'] == '用户未登录'){
                        alert('您没有登陆，正在进行登陆...');
                        window.location.href="{% url 'login' %}";
                    }else{
                        alert(data.msg);
                    }
                }else if(data.status == 'success'){
                    console.log(data);
                    //设置点赞效果
                    var element = $(document.getElementsByClassName('glyphicon-thumbs-up'));
                    if (is_like){
                        //要点赞
                        element.removeClass('');
                        element.addClass('true_like');
                    }else{
                        //取消点赞
                        element.removeClass('true_like');
                        element.addClass('');
                    }
                    //更新收藏数
                    var like_num = $(document.getElementById('like_num'));
                    like_num.text(data['condition_nums']);
                }
            },
        });
    }


    //删除评论
    function comment_del(del_pk) {
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'article:comment_del' %}",
            data:{'del_pk':del_pk},//数据传给后端
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                // confirm：ajax内置函数，当用户点击确定，则执行花括号里面的
                if(confirm('确认删除吗？')){
                    if(data.status == 'success'){
                    console.log(data);
                    //设置点赞效果
                    window.location.reload(); //刷新页面
                    }
                    else if(data.status == 'fail'){
                        if(data['msg'] == '用户未登录'){
                            alert('您没有登陆，正在进行登陆...');
                            window.location.href="{% url 'login' %}";
                        }else{
                            alert(data.msg);
                        }
                    }


                }

            },
        });
    }
    </script>
{% endblock %}
