{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_extends %}{% endblock %}</title>
    {% block head_extends %}{% endblock %}
</head>
<body>
{# 北极星背景 #}
    <script src="" count="200" zindex="-2" opacity="0.5" color="47,135,193" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{# 北极星背景end #}

{# 鼠标点击图案 #}
<script type="text/javascript" src="{% static 'js/cick-pattern.js' %}"></script>
{# 鼠标点击图案end #}

    <header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="{% url 'home' %}">田敏伦个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li id="{% if request.path == '/' %}selected{% endif %}"><a href="{% url 'home' %}">网站首页</a></li>
        <li id="{% if request.path|slice:'9' == '/article/' %}selected{% endif %}"><a href="{% url 'article:article-list' %}">文章</a></li>

      <li id="{% if request.path|slice:'15' == '/article/photo/' %}selected{% endif %}"><a href="{% url 'article:photo' %}">图片集锦</a></li>
    <li><a href="http://127.0.0.1:8000/xadmin" target="_blank">后台管理</a></li>


     <li id="{% if request.path|slice:'6' == '/timer' %}selected{% endif %}"><a href="{% url 'timer_shaft' %}">时间轴</a></li>
         <li class="menu" id="{% if request.path|slice:'12' == '/myoperation' %}selected{% endif %}"><a href="{% url 'myoperation' %}">我的收藏</a>
        <ul class="sub">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">注销</a></li>
            {% else %}
                <li id="{% if request.path|slice:'6' == '/login' %}selected{% endif %}"><a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></li>
            {% endif %}
            <li id="{% if request.path|slice:'7' == '/signup' %}selected{% endif %}"><a href="{% url 'signup' %}">注册</a></li>
         </ul>
    </ul>
    <div class="searchbox">
      <div id="search_bar" class="search_bar">
{#        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">#}
          <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="search_keywords">
          <p class="search_ico" id="jsSearchBtn"> <span></span></p>

      </div>
    </div>
      <script type="text/javascript">
        //顶部搜索栏搜索方法
            $('#jsSearchBtn').on('click',function(){
                search_click()
            });

            function search_click(){
                    keywords = $('#search_keywords').val();//1、获取用户输入（search_keywords）的值
                    request_url = "/article/article-list?keywords="+keywords; //根据type获取到url，再通过此url跳转到 要搜索的页面
                if(keywords == ""){
                    return //如果用户输入为空，刷新页面（返回空）
                }
                //点击搜索后，转跳页面
                window.location.href = request_url
            }
      </script>
  </nav>
</header>
    {% block context %}{% endblock %}
    {% block custom_js %}{% endblock %}
</body>
</html>