{% load staticfiles %}


{% block head_extends %}

    <meta charset="UTF-8">
    <meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <p><a href="{% url 'home' %}">返回首页</a></p>

                {# 登录 #}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div id="login" style="display: block;">
                    <input type="hidden" name="next" value="{% if current_url %}{{ current_url }}{% else %}/{% endif %}">
					<span class="login100-form-title p-b-49">登录</span>
					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
						<span class="label-input100">用户名</span>
						<input class="input100" required type="text" id="user_login" name="username" value="{{ login_form.username.value }}" placeholder="请输入用户名" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" required type="password" id="pwd_login" name="password" value="{{ login_form.password.value }}" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
                    {# 登陆错误 #}
                    <span class="pull-left text-danger error" id="login_error">
                        {% for k,v in login_form.errors.items %}
                            {{ v }}
                        {% endfor %}
                        {{ msg }}
                    </span>

					<div class="text-right p-t-8 p-b-31">
						<a href="{% url 'forget_pwd' %}">忘记密码？</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" onclick="login_user();" class="login100-form-btn">登 录</button>

						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>第三方登录</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-wechat"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-qq"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-weibo"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-25">
						<a href="{% url 'signup' %}" class="txt2">立即注册</a>
					</div>
                    </div>
                </form>


			</div>
		</div>
	</div>
{% endblock %}

{% block script_extends %}
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    {# 登录|注册 #}
    <script type="text/javascript">
    //登录
    {#function login_user() {#}
    {#    var user_login = $("#user_login").val();#}
    {#    var pwd_login = $("#pwd_login").val();#}
    {##}
    {#    if(user_login=="" || pwd_login == ""){#}
    {#        alert("用户名或密码不能为空");#}
    {#    }else{#}
    {#        $.ajax({#}
    {#        cache:false,#}
    {#        type:'POST',#}
    {#        url:"{% url 'login' %}",#}
    {#        data: {#}
    {#            "username":user_login,#}
    {#            "password":pwd_login,#}
    {#        },#}
    {#        ansyc:true,#}
    {#           beforeSend:function (xhr,settings) {#}
    {#               xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");#}
    {#           },#}
    {#        success:function (data) {#}
    {#                if(data['status'] == 'success'){#}
                        {#window.location.reload();//刷新当前页面.#}
    {#                    window.location.href ="{{ click_url }}/";#}
    {#                    alert(data.msg)#}
    {#                }else if(data['status'] == 'fail'){#}
    {#                    $('#login_error').text(data.msg);#}
    {#                }#}
    {#            }#}
    {#    });#}
    {#    }#}
    {#}#}

    </script>
{% endblock %}
