{% extends 'forgetpwd.html' %}

{% block extends_title %}重置密码{% endblock %}

{% block content %}
    <div class="wrap">
    <div class="wrapper">
	<div class="main">
        <div class="containter">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">重置密码</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'modify_pwd' %}" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="email" value="{{ email }}">
                                <label for="id_username">输入密码</label>
                                <input type="password" name="password1" class="form-control" placeholder="请输入用户名" required id="id_password" />
                                <p class="text-danger"></p>
                                <label for="id_password">再输入密码</label>
                                <input type="password" name="password2" class="form-control" placeholder="请输入用户密码" required id="id_password" />
                                <span class="pull-left text-danger">{% if msg %}{{ msg }}{% endif %}</span>
                            <input type="submit" value="确定" class="btn btn-primary pull-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
</div>
{% endblock %}
